<h1>Scribble</h1>


  <% @posts.each do |post| %>
    <tr>
      <h2><%= link_to post.title, post %></h2>
      <p><%= post.text %></p>
    </tr>
  <% end %>
</table>



<h2><%= link_to "New Post", new_post_path %></h3>
